* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body, html {
    overflow: hidden;
}

.uploadBox {
    width: 50vw;
    height: 40vh;
    color: var(--teal);
    border: 4px solid var(--teal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadSegment {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadButton {
    border: none;
    outline: none;
    border-radius: 15px;
    width: 170px;
    height: 70px;
}

input[type="text"] {
    width: 50%;
    border: 2px solid var(--teal);
    outline: none;
}

input[type="text"]:focus {
    border: 4px solid var(--teal);
}