* {
  margin: 0;
  padding: 0;
  font-family: Roboto; 
}

body, html {
  overflow: hidden;
}

.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  color: var(--teal);
  align-items: center;
}

.recipeAIheader {
  font-weight: bold;
  font-size: 50px;
}

.recipeAIsubheader {
  margin-top: 1em;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 7em;
}